* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: #fff;
    font-family: 'Dosis', sans-serif;
}

body {
    background-color: #141414;
}

#container {
    width: 95vw;
    height: 100%;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

header {
    width: 100%;
    height: 250px;
    border-bottom: solid #2f8245 2px;
}

#banner {
    margin: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 800px;
}

#banner-text {
    display: inline-block;
}

#title {
    font-size: 40px;
}

#logo {
    display: inline-block;
    width: 200px;
    height: 200px;
    margin: 20px 80px 20px 0;
}

.main-text {
    width: 40vw;
    margin: auto;
    text-align: center;
    margin-bottom: 30px;
}

.main-text h1 {
    font-size: 30px;
}

.main-text p {
    font-size: 20px;
}

main {
    margin-bottom: solid #2f8245 2px;
}

main section {
    padding-top: 20px;
    border-bottom: solid #fff 2px;
    padding-bottom: 20px;
    width: 90%;
    margin: auto;
}

.main-img {
    background-position: 0vmin;
    background-repeat: no-repeat;
    height: 300px;
    position: relative;
    border-radius: 20px;
    width: 1200px;
    margin: auto;
}

#main-img1 {
    background-image: url("../img/main1.jpg");
}

#main-img2 {
    background-image: url("../img/main2.png");
}

#main-img3 {
    background-image: url("../img/main3.jpg");
}

#main-img4 {
    background-image: url("../img/main4.jpg");
}

.main-imgtext {
    position: absolute;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.6);
    width: 100%;
    text-align: center;
    line-height: 170%;
    height: 30px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

.main-text ul li {
    font-size: 20px;
}

#last {
    border-bottom: solid #2f8245 2px;
}

#cardset {
    display: grid;
    padding: 20px;
}

.card {
    position: relative;
    transform-style: preserve-3d;
    transition: all 0.5s ease;
    border: solid #fff 2px;
    border-radius: 5px;
}

.placeholder {
    background-color: #141414;
    display: none;
}

#startbutton {
    width: 150px;
    height: 50px;
    font-size: 30px;
    background-color: #2f8245;
    border: none;
    border-radius: 10px;
    margin: auto;
    margin-top: 20px;
    transition: 0.2s;
    border: solid #2f8245 2px;
}

#memoryh1 {
    margin-top: 20px;
    font-size: 40px;
}

#l, #w {
    text-align: center;
    width: 100%;
    margin-top: 200px;
    font-size: 80px;
    display: none;
}

#startbutton:hover {
    background-color: #141414;
    color: #2f8245;
    transition: 0.2s;
    cursor: pointer;
}

.card:hover {
    cursor: pointer;
}

.back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
}

.front {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    transform: rotateY(180deg);
}

.flipCard {
    transform: rotateY(180deg);
}

@keyframes disappearing {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0.5;
    }
    100% {
        opacity: 0;
    }
}

.fadeCard {
    opacity: 0;
}

.flipX {
    transform: rotateX(45deg);
}

.unflipX {
    transform: rotateX(315deg);
}

.life {
    width: 50px;
    height: 50px;
    margin-right: 5px;
}

#header {
    width: 1500px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#header-text {
    text-align: center;
}

#counters {
    width: 1500px;
    height: 50px;
    margin-top: 20px;
    align-self: flex-start;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

#lives {
    margin-left: 20px;
    width: 171.4px;
}

#timer, #score {
    width: 171.4px;
    text-align: center;
    font-size: 43px;
}

#score {
    text-align: right;
    margin-right: 20px;
}

@media (min-width: 360px) {
    #cardset {
        grid-template-columns: 80px 80px 80px 80px;
        grid-template-rows: 120px 120px 120px;
        grid-column-gap: 10px;
        grid-row-gap: 20px;
        grid-auto-columns: 80px;
        grid-auto-rows: 120px;
    }
    .card {
        width: 80px;
        height: 120px;
    }
    .placeholder {
        width: 80px;
        height: 120px;
    }
    .card img {
        border-radius: 1.5px;
        width: 100%;
        height: 100%;
    }
    #header {
        width: 390px;
    }
    #counters {
        width: 390px;
    }
    .life {
        width: 27%;
        height: 100%;
    }
}

@media (min-width: 768px) {
    #cardset {
        grid-template-columns: 100px 100px 100px 100px 100px 100px;
        grid-template-rows: 150px 150px;
        grid-column-gap: 30px;
        grid-row-gap: 20px;
        grid-auto-columns: 100px;
        grid-auto-rows: 150px;
    }
    .card {
        width: 100px;
        height: 150px;
    }
    .placeholder {
        width: 100px;
        height: 150px;
    }
    .card img {
        border-radius: 1.5px;
        width: 100%;
        height: 100%;
    }
    #header {
        width: 790px;
    }
    #counters {
        width: 790px;
    }
}

@media (min-width: 1200px) {
    #cardset {
        grid-template-columns: 150px 150px 150px 150px 150px 150px;
        grid-template-rows: 225px 225px;
        grid-column-gap: 52px;
        grid-row-gap: 20px;
        grid-auto-columns: 150px;
        grid-auto-rows: 225px;
    }
    .card {
        width: 150px;
        height: 225px;
    }
    .placeholder {
        width: 150px;
        height: 225px;
    }
    .card img {
        border-radius: 1.5px;
        width: 100%;
        height: 100%;
    }
    #header {
        width: 1200px;
    }
    #counters {
        width: 1200px;
    }
}

@media (min-width: 1600px) {
    .card {
        width: 200px;
        height: 300px;
    }
    .placeholder {
        width: 200px;
        height: 300px;
        background-color: #141414;
        display: none;
    }
    #cardset {
        grid-template-columns: 200px 200px 200px 200px 200px 200px;
        grid-template-rows: 300px 300px;
        grid-column-gap: 52px;
        grid-row-gap: 20px;
        width: 1500px;
        grid-auto-columns: 200px;
        grid-auto-rows: 300px;
    }
    .card {
        width: 200px;
        height: 300px;
    }
    .placeholder {
        width: 200px;
        height: 300px;
    }
    .card img {
        border-radius: 1.5px;
        width: 100%;
        height: 100%;
    }
    #header {
        width: 1500px;
    }
    #counters {
        width: 1500px;
    }
}